


.title h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #FFCB05; /* Couleur jaune vif */
    text-shadow: 2px 2px 0 #3B4CCA, 4px 4px 0 #FFCB05; /* Ombre pour effet de profondeur */
    font-family: 'Press Start 2P', cursive; /* Police inspirée de Pokémon */
    margin: 0; /* Supprime la marge par défaut */
}

.title h2 {
    font-size: 24px; /* Taille plus petite pour le sous-titre */
    text-align: center; /* Centre le texte horizontalement */
    color: #3B4CCA; /* Couleur bleue */
    text-shadow: 1px 1px 0 #FFCB05, 2px 2px 0 #3B4CCA; /* Ombre pour effet de profondeur */
    font-family: 'Press Start 2P', cursive; /* Police inspirée de Pokémon */
    margin-top: 5px; /* Réduit l'espace entre le titre et le sous-titre */
}

.search-bar {
    width: 300px;
    height: 40px;
    border: 3px solid #FFCB05; /* Couleur jaune vif */
    border-radius: 20px; /* Bordures arrondies */
    font-size: 18px;
    outline: none;
    padding: 0 10px; /* Ajoute un padding interne */
    box-shadow: 2px 2px 0 #3B4CCA, 4px 4px 0 #FFCB05; /* Ombre pour effet de profondeur */
    font-family: 'Press Start 2P', cursive; /* Police inspirée de Pokémon */
    color: #3B4CCA; /* Couleur du texte */
}


.search-container {
    flex-direction: column;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    
}

.type-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    flex-wrap: wrap;/* Passer à la ligne si besoin */
    gap: 10px; /* Espace entre les boutons*/
    margin-top: 30px;  
    margin-bottom: 30px;
}

/* Style pour les boutons de type */
.type-container button {
    border: 2px solid transparent; /* Ajoute une bordure transparente par défaut */
    outline: none; /* Supprime l'effet de focus par défaut */
    padding: 10px 20px; /* Ajoute un padding interne */
    border-radius: 10px; /* Bordures arrondies */
    font-family: 'Press Start 2P', cursive; /* Police inspirée de Pokémon */
    color: white; /* Couleur du texte */
    background-color: #3B4CCA; /* Couleur de fond */
    box-shadow: 2px 2px 0 #FFCB05, 4px 4px 0 #3B4CCA; /* Ombre pour effet de profondeur */
    box-sizing: border-box; /* Inclut la bordure dans les dimensions du bouton */
}

/* Ajoute une bordure noire de 2px lorsque la souris passe sur les boutons */
.type-container button:hover {
    border: 2px solid black !important;
    color: #d4d0d7;
}

/* Style pour les boutons de type lorsqu'ils sont actifs */
.type-container button.active {
  border: 2px solid black; /* Ajoute une bordure noire lorsqu'ils sont actifs */
  color: black;

}


/* Style pour les boutons de type lorsqu'ils ne sont pas actifs */
.type-container button:not(.active) {
  border: 2px solid transparent; /* Supprime la bordure lorsqu'ils ne sont pas actifs */
}

.active{
    border: 4px solid #d4d0d7;

    
}